project          = "infra-2sdffg7f111sad2930"
public_key_path  = "~/.ssh/id_rsa.pub"
disk_image       = "reddit-base-ssd394nf93v"
private_key_path = "~/.ssh/id_rsa"
zone             = "europe-west1-b"
ssh_users = {
  vld      = "~/.ssh/id_rsa.pub"
  appuser1 = "~/.ssh/id_rsa.pub"
  appuser2 = "~/.ssh/id_rsa.pub"
}
